<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welltech.dao.WtCompanyDao">

    <select id="findCompanyById" resultType="WtCompany">
        select
        *
        from
        wt_company wc where wc.id = #{companyId}
    </select>

</mapper>