<!DOCTYPE html>
<html>
<head th:include="common/head :: head"></head>

<body>
    <div id="wrapper">
        <div th:replace="common/left :: left"></div>
        <div id="page-wrapper" class="gray-bg dashbard-1">
        	<div class="row border-bottom">
        		<div th:replace="common/top :: head"></div>
        	</div>
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-lg-10">
					<h2>单参数变化趋势分析</h2>
					<ol class="breadcrumb">
						<li>
							<a href="/index.html">首页</a>
						</li>
						<li>
							<a>统计分析</a>
						</li>
						<li class="active">
							<strong>单参数变化趋势分析</strong>
						</li>
					</ol>
				</div>
				<div class="col-lg-2">

				</div>
			</div>

			<div class="wrapper wrapper-content animated fadeInRight">
				<div class="row">
					<div class="col-lg-12">
						<div class="ibox float-e-margins">
							<div class="ibox-content">
								<form id="searchForm" onsubmit="javascript:return search();">
									<div class="row">
										<div class="col-lg-2 m-b-xs">
											<div class="input-group">
												<input id="pointName" type="text" name="pointName" readonly="" th:value="${pointName}" class="form-control" onclick="showMenu();" style="width: 180px;" />
												<input id="pointId" type="hidden" name="stationId" th:value="${pointId}"/>
												<select id="stationId" style="display:none;">
													<option th:each="point: ${points}" th:text="${point.point}" th:value="${point.id}"></option>
												</select>
											</div>
										</div>
										<div class="col-lg-3 text-nowrap">
											<div class="input-group">
												<label class="col-lg-4 m-t-sm" labelFor="startTime">开始时间：</label>
												<div class="col-lg-8">
													<input type="text" name="startTime" id="startTime" value="" placeholder="开始时间" class="form-control datetimepicker" required="true"/>
												</div>
											</div>
										</div>
										<div class="col-lg-3 text-nowrap">
											<div class="input-group">
												<label class="col-lg-4 m-t-sm" labelFor="endTime">结束时间：</label>
												<div class="col-lg-8">
													<input type="text" name="endTime" id="endTime" value="" placeholder="结束时间" class="form-control datetimepicker" required="true"/>
												</div>
											</div>
										</div>
										<div class="col-lg-2 m-b-xs">
											<div class="input-group">
												<select data-placeholder="选择参数" name="params" id="params" class="chosen-select" style="min-width:150px;" tabindex="4">
												</select>
											</div>
										</div>
										<div class="col-lg-2">
											<div class="input-group">
												<button type="submit" class="btn btn-sm btn-w-m btn-primary ladda-button" data-style="zoom-in">查询</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="ibox float-e-margins">
							<div class="ibox-content">
								<div id="main" style="width: 100%;height: 500px;"></div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div id="menuContent" class="menuContent" style="display:none; position: absolute;">
				<ul id="treeDemo" class="ztree" style="margin-top:0; width:175px; height: 300px;border: 1px solid #1ab394;background: #f0f6e4;overflow-y: scroll;overflow-x: auto;"></ul>
			</div>
            <div th:replace="common/foot :: foot"></div>
        </div>
    </div>

	<div th:replace="common/commonJS :: js"></div>
	
	<script th:inline="javascript">
	</script>

	<script src="/js/base/stationMultiTree.js"></script>
	<script src="/js/statistics/singleParamStatistic.js"></script>

</body>
</html>
