<!DOCTYPE html>
<html>
<head th:include="common/head :: head"></head>

<body>
<div id="wrapper">
    <div th:replace="common/left :: left"></div>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <div th:replace="common/top :: head"></div>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>报警异常状态信息</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/index.html">首页</a>
                    </li>
                    <li>
                        <a>历史查询</a>
                    </li>
                    <li class="active">
                        <strong>报警异常状态信息</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>报警异常状态信息</h5>
                        </div>
                        <div class="ibox-content">
                            <form id="searchForm" action="/alarmStatHistoryData.html" method="POST" class="form-horizontal m-b">
                                <div class="row m-b-xs">
                                    <div class="col-sm-6 m-b-xs">
                                        <div class="input-group">
                                            <select data-placeholder="选择测点" id="pointIds"  style="display:none;min-width:475px;">
                                                <option th:each="point: ${points}" th:text="${point.point}" th:value="${point.id}" th:selected="${not #arrays.isEmpty(pointIds) and #arrays.contains(pointIds, point.id)}"></option>
                                            </select>
                                            <label for="pointName" class="col-lg-4 control-label">测点名称</label>
                                            <div class="col-lg-8">
                                                <input id="pointName" type="text" name="pointName" readonly="" th:value="${pointName}" class="form-control" onclick="showMenu();" />
                                                <input id="pointId" type="hidden" name="pointId" th:value="${pointId}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 m-b-xs">
                                        <div class="input-group">
                                            <input type="text" name="startTime" AUTOCOMPLETE="off"  th:unless="${startTime == null}" th:value="${#dates.format(startTime, 'yyyy-MM-dd HH:mm:ss')}" placeholder="开始时间" class="form-control datetimepicker"/>
                                            <input type="text" name="startTime" AUTOCOMPLETE="off" th:if="${startTime == null}" value="" placeholder="开始时间" class="form-control datetimepicker"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 m-b-xs">
                                        <div class="input-group">
                                            <input type="text" name="endTime"  AUTOCOMPLETE="off" th:unless="${endTime == null}" th:value="${#dates.format(endTime, 'yyyy-MM-dd HH:mm:ss')}" placeholder="结束时间" class="form-control datetimepicker"/>
                                            <input type="text" name="endTime"  AUTOCOMPLETE="off" th:if="${endTime == null}" value="" placeholder="结束时间" class="form-control datetimepicker"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <button type="button" id="searchBtn" class="btn btn-sm btn-w-m btn-primary ladda-button" data-style="zoom-in" >查询</button>
                                        </div>
                                    </div>
                                </div>
                                <input name="currentPage" type="hidden" th:value="${myPage.currentPage}"/>
                            </form>
                            <div class="table-responsive text-nowrap text-center">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>测点名称 </th>
                                        <th>采集时间</th>
                                        <th>系统状态</th>
                                        <th>色谱仪状态</th>
                                        <th>仪器状态</th>
                                        <th>自动运行状态</th>
                                        <th>系统维护状态</th>
                                        <th>系统故障状态</th>
                                        <th>高温盒温度报警</th>
                                        <th>采样探头1温度报警</th>
                                        <th>伴热管1温度报警</th>
                                        <th>反吹阀1开启状态</th>
                                        <th>采样泵1开启状态</th>
                                        <th>控制阀1开启状态</th>
                                        <th>采样探头2温度报警</th>
                                        <th>伴热管2温度报警</th>
                                        <th>反吹阀2开启状态</th>
                                        <th>采样泵2开启状态</th>
                                        <th>控制阀2开启状态</th>
                                        <th>内部通讯异常</th>
                                        <th>fid1点火失败</th>
                                        <!--<th>fid2点火失败</th> 预留-->
                                        <th>fid1火焰熄灭</th>
                                        <!--<th>fid2火焰熄灭</th> 预留-->
                                        <th>fid1火焰温度异常</th>
                                        <!--<th>fid2火焰温度异常</th> 预留-->
                                        <th>fid1箱温度异常</th>
                                        <!--<th>fid2箱温度异常</th>-->
                                        <th>阀箱温度异常</th>
                                        <th>柱箱1温度异常</th>
                                        <!--<th>柱箱2温度异常</th> 预留-->
                                        <th>机箱温度异常</th>
                                        <th>氢气1流量异常</th>
                                        <th>氢气2流量异常</th>
                                        <th>空气1流量异常</th>
                                        <th>空气2流量异常</th>
                                        <th>柱前压1压力异常</th>
                                        <th>柱前压2压力异常</th>
                                        <!--<th>柱前压3压力异常</th>-->


                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${not #lists.isEmpty(datas)}" th:each="data: ${datas}">
                                        <td th:text="${data.point}">-</td>
                                        <td>
                                            <span th:if="${data.time} != null" th:text="${#dates.format(data.time, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                            <span th:if="${data.time} == null">-</span>
                                        </td>
                                        <td th:text="${data.systemStatComment}">-</td>
                                        <td th:text="${data.colorbookStatComment}">-</td>
                                        <td th:text="${data.machineStatComment}">-</td>
                                        <td th:text="${data.autoRunStat == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.systemMaintainStat == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.systemBreakdownStat == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.gaowenheTempAlarm == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.sampleTempAlarm == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.banreguanTempAlarm == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.fanchuifaOpenStat == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.caiyangbengOpenStat == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.kongzhifaOpenStat == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.sample2tempAlarm == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.banreguan2tempAlarm == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.fanchuifa2openStat == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.caiyangbeng2openStat == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.kongzhifa2openStat == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.innerCommExcp == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.fid1ignitionFalse == 0 ? '正常': '不正常'}">-</td>
                                        <!--<td th:text="${data.fid2ignitionFalse == 0 ? '正常': '不正常'}">-</td>-->
                                        <td th:text="${data.fid1fireBreak == 0 ? '正常': '不正常'}">-</td>
                                        <!--<td th:text="${data.fid2fireBreak == 0 ? '正常': '不正常'}">-</td>-->
                                        <td th:text="${data.fid1fireTempExcp == 0 ? '正常': '不正常'}">-</td>
                                        <!--<td th:text="${data.fid2fireTempExcp == 0 ? '正常': '不正常'}">-</td>-->
                                        <td th:text="${data.fid1boxTempExcp == 0 ? '正常': '不正常'}">-</td>
                                        <!--<td th:text="${data.fid2boxTempExcp == 0 ? '正常': '不正常'}">-</td>-->
                                        <td th:text="${data.shitongfaTempExcp == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.zhuxiangTempExcp == 0 ? '正常': '不正常'}">-</td>
                                        <!--<td th:text="${data.zhuxiang2tempExcp == 0 ? '正常': '不正常'}">-</td>-->
                                        <td th:text="${data.jixiangTempExcp == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.hydrogen1flowExcp == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.hydrogen2flowExcp == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.air1flowExcp == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.air2flowExcp == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.zhuqianya1pressExcp == 0 ? '正常': '不正常'}">-</td>
                                        <td th:text="${data.zhuqianya2pressExcp == 0 ? '正常': '不正常'}">-</td>
                                        <!--<td th:text="${data.zhuqianya3pressExcp == 0 ? '正常': '不正常'}">-</td>-->


                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8 text-right">
                                    <ul id="pagination"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="menuContent" class="menuContent" style="display:none; position: absolute;">
            <ul id="treeDemo" class="ztree" style="margin-top:0; width:175px; height: 300px;border: 1px solid #1ab394;background: #f0f6e4;overflow-y: scroll;overflow-x: auto;"></ul>
        </div>

        <div th:replace="common/foot :: foot"></div>
    </div>
</div>

<div th:replace="common/commonJS :: js"></div>

<script th:inline="javascript">
	options = {
	    currentPage: [[${myPage.currentPage}]],
	    totalPages: [[${myPage.totalPages}]],
	    onPageChanged: function(e,oldPage,newPage){
	    	if($('input[name="currentPage"]').val() != newPage){
		    	$('input[name="currentPage"]').val(newPage);
		    	$('#searchForm').submit();
	    	}
	    }
	};
	</script>

<script src="/js/base/stationMultiTree.js"></script>
<script src="/js/history/historyData.js"></script>

</body>
</html>
